:root {
	--font-sans: 'Noto Sans JP', sans-serif;
	--font-mono: 'Space Mono', monospace;

	--text-color: #000000;
	--link-color: #3cb371;

	max-width: 584px;
	margin: 0 auto;

	font-family: var(--font-sans);
}

.data {
	font-family: var(--font-mono);
}

h1,
h2,
h3,
h4,
h5,
h6 {
	font-weight: 400;
}

a:link,
a:visited,
a:active,
a:hover {
	color: var(--link-color);
	filter: brightness(0.7);
	transition: all 0.5s;
	border: none;
	text-decoration: none;
}

a:hover {
	transition: all 0.5s;
	filter: none;
}
