* {
	margin: 0;
	padding: 0;
}

:root {
	font-family: Helvetica;
	font-weight: bold;
}

html {
	overflow-x: auto;
}

body {
	margin: 0;
}

h1,
h2,
h3,
h4,
h5,
h6 {
	font-weight: 400;
}

a:link,
a:visited,
a:active,
a:hover {
	color: inherit;
	border: none;
	text-decoration: none;
}
